.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cabecalho {
  background-color:rgb(32, 14, 95);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.cabecalho h1 {
  margin: 0;
  font-size: 1.4rem;
}

.cabecalho a {
  background-color: rgb(202, 87, 106);
  color: #fff;
  padding: 5px 12px;
  border-radius: 5px;
}

.conteudo {
  padding: 25px;
  height: 100%;
}